body {
	font-family: "Open Sans", sans-serif;
	text-align: center;
	margin: 0;
}

h1 {
	font-family: "Dosis", sans-serif;
	font-size: 32px;
	color: #3f3d56;
	line-height: 40px;
	margin-bottom: 16px;
	font-weight: 500;
	text-shadow: 0px 4px 4px
	 rgba(0, 0, 0, 0.25);
}

h1 span {
	font-family: "Dosis", sans-serif;
	font-weight: 700;
	color: #ee24ff;
	text-shadow: 0px 4px 4px
	 rgba(0, 0, 0, 0.25)
}

p {
	color: #828282;
	font-size: 15px;
	line-height: 22px;
	width: 540;
	font-weight: 400;
}

p .colorir {
	color: #3f3d56;
	font-weight: 700;
}

#main {
	width: 626px;
	margin: 0 auto 64px;
}

#main img {
	margin-bottom: 32px;
	margin-top: 64px;
}

#onda {
	margin-top: 40.83px;
	margin-bottom: 0px;
}

.line {
	width: 391px;
	height: 0px;
	border: 1px solid #eceff2;
	margin: 0 auto 16px;
}

#footer a + a {
	margin-left: 42px;
}
